<footer class="d-flex justify-content-center justify-content-md-start align-items-center px-md-5 bg-primary-darker text-light" style="height:100px">
    <div class="">
        Copyright @2024 OC6. All rights reserved.
    </div>
</footer>