.bg-primary-dark {
  background-color: #3f4162;
}

.bg-primary-darker {
  background-color: #2b2c43;
}

.text-primary-dark {
  color: #3f4162;
}

.text-primary-darker {
  color: #2b2c43;
}

.btn-primary-dark {
  background-color: #3f4162;
  color: white;
}

.btn-primary-dark:hover {
  background-color: #2b2c43;
  color: white;
}

.btn-primary-darker {
  background-color: #2b2c43;
  color: white;
}

.btn-primary-darker:hover {
  background-color: #3f4162;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-success {
  background-color: #3f4162;
  color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}