#load-more {
  margin-top: 50px;
  height: 50px;
  width: 10%;
  border-radius: 5px;
  border: none;
  background-color: rgba(103, 106, 157, 0.3);
  color: white;
  box-shadow: 4px 4px 0px 0px rgb(69, 71, 106);
  transition: 0.1s;
}

#load-more:not([disabled]):hover {
  cursor: pointer;
  box-shadow: 9px 7px 0px 0px rgb(69, 71, 106);
}